body {
    font-family: Arial, sans-serif;
    background-color: blanchedalmond;

  }
  
  .container {
    max-width: 600px;
    margin: auto;
    margin-top: 50px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .btn {
    padding: 10px 15px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
  }
  